* {
    margin: 0;
    padding: 0;
}

/* this should not be necessary but for now it works */
body {

    height: 90vh;
    width: 100%;
    background-image: url("./img/DEi3D0rUQAAl1xe\ \(1\).jpg");

    background-size: cover;
}



/* HEADER */
header {
    position: absolute;
    height: 90vh;
    width: 100%;
    background-image: url("./img/DEi3D0rUQAAl1xe\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* ADD NOTE BUTTON*/
#add-note {
    width: 60px;
    height: 60px;
    position: relative;
    border: none;
    outline: none;
    background: rgb(203, 195, 195);
    border-radius: 16px;
    text-align: center;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#add-note:hover {
    background: rgb(103, 103, 103);
}

/* NOTES SECTION CONTAINER*/

#notes-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
    justify-content: center;
}

/* NOTES */
.note {
    position: relative;
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;


    font-family: sans-serif;
    font-size: 16px;
    color: rgb(188, 184, 184);
}