* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url('/img/dark-abstract-black-minimal-4k-q0-1920x1080.jpg');
}

/* ADD NOTE BUTTON*/
#add-note {
    width: 60px;
    height: 60px;
    position: relative;
    border: none;
    outline: none;
    background: rgb(238, 231, 231);
    border-radius: 16px;
    transition: .2s all ease-in-out;
    text-align: center;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#add-note:hover {
    color: #fff;
    background: rgb(46, 46, 46);
    scale: 1.05;
}

/* NOTES SECTION CONTAINER*/
#notes-section {
    display: grid;
    max-height: 90vh;
    overflow-y: scroll;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
    justify-content: center;
}

#notes-section::-webkit-scrollbar {
    display: none;
}

/* NOTES */
.note {
    position: relative;
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(188, 184, 184);
    transition: .3s all ease-in-out;
}

.note:hover {
    scale: 1.05;
}